
<!DOCTYPE html>
<html>
<head>
<title>Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  type = "text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
        <img src="{{ url_for('static', filename='logo.jpg') }}" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Ren</strong></span><br>
      <a href="{{ url_for('view_email') }}" class="w3-bar-item w3-button {%if active=='email'%}w3-dark-grey{%endif%}"><i class="fa fa-envelope"></i></a>
      <a href="{{ url_for('view_profile') }}" class="w3-bar-item w3-button {%if active=='profile'%}w3-dark-grey{%endif%}"><i class="fa fa-user"></i></a>
      <a href="{{ url_for('view_setting') }}" class="w3-bar-item w3-button {%if active=='setting'%}w3-dark-grey{%endif%}"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <br/>
  <div class="w3-container">
    <h5>Management</h5>
    <br/>
  </div>
  <div class="w3-bar-block">
        <a href="{{ url_for('view_dashboard') }}" class="w3-bar-item w3-button w3-padding {% if active=='dashboard' %}w3-blue{%endif %}"><i class="fa fa-home fa-fw"></i>&nbsp; Dashboard</a>
        <a href="{{ url_for('view_tickets') }}" class="w3-bar-item w3-button w3-padding {% if active=='tickets' %}w3-blue{%endif %}"><i class="fa fa-ticket fa-fw"></i>&nbsp; Tickets</a>
        <a href="{{ url_for('view_history') }}" class="w3-bar-item w3-button w3-padding {% if active=='history' %}w3-blue{%endif %}"><i class="fa fa-history fa-fw"></i>&nbsp; History</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <header class="w3-container" style="padding-top:22px">
        <h3 class="display-6">
            {% block title %} {% endblock %}
        </h3>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container">
            {% block body %} {% endblock %}
        </div>
    </div>
</div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>